.img{
    width: 400;
    height: 100;
}//img dimesions.

.ion-button{
    align-items: center;
    justify-content: center;
    padding: 20px;
}//moving go to pubs button to center of page.

.ion-back-button{
    padding-top: 30px;
}//back button