<ion-header>
  
</ion-header>

<ion-content>

  <div class="background-img">
    <div class =background-filter>

<ion-card>
  <ion-card-header>
    <ion-card-title>
      Welcome to Galway Tourism!
    </ion-card-title>
    <ion-card-subtitle>
      Explore Galway with us, <a href="#">Sign in!</a> 
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-item><!-- lets user input email-->
      <ion-input placeholder="Email"></ion-input>
    </ion-item>

    <ion-item><!-- lets user input password-->
      <ion-input placeholder="Password"></ion-input>
    </ion-item>
<!-- brings to another html sheet-->
    <a href = "http://localhost:8100/forgotpassword">Forgot Password?</a>

    <div class="button-login"><!-- when clicking login the navigate to login page method is triggered bringing the user to home.page.html-->
      <ion-button (click) ="navigateToLoginPage()">Sign in</ion-button>
     <span>Don't have an account? <a href ="http://localhost:8100/signup">Sign up!</a></span> 
    </div>
  </ion-card-content>
</ion-card>

    </div>
  </div>

</ion-content>
