<ion-header>
  <ion-toolbar>
    <ion-title>Events in Galway</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Events in Galway</h2><br>
  <h4>Click on the text to visit the external page for these events!</h4><br>
<ul><a href="https://www.eventbrite.ie/e/holy-spirit-conference-tickets-328321397137">Holy Spirit Conference Friday 6th of May 7PM</a></ul>
<ul><a href="https://entertainment.ie/events/event/show-galway/an-taibhdhearc/galway-theatre-festival-paddy-goes-to-petra/film-screenings-17201/">Galway Theatre Festival Friday 6th of May 8PM</a></ul>
<ul><a href="https://www.eventbrite.ie/e/community-cycle-tickets-328802736837">Claddagh Hall Community Cycle 8th of May 11AM</a></ul>
<ul><a href ="https://www.eventbrite.ie/e/pop-art-workshop-not-free-tickets-318356481807">Pop Art Workshop Monday 9th of May 10:30AM</a></ul>
</ion-content>
<!-- Events in galway h2 tags, h4 tags with unordred lists with external links to websites, this page is emedded into the events file.-->