a{
    text-decoration: none;
   color: white;
}


ion-content {
    --background: url(../../assets/spanisharch.jpg) no-repeat center/cover fixed;
 
    --color: white;
  }//background img with text color white


