<ion-header>
  <ion-toolbar>
    <ion-title>Mainscreen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class ="background-container">

    <div class = "background-filter">

    <ion-card>
      <ion-card-header><!-- first screen displayed in app, shows tourism logo with generic text-->
        <img src="../../assets/334-3348628_travel-tourism-icon-for-webpage-world-map.png">
      <ion-card-title>Galway Tourism

      </ion-card-title> <!--logo-->
      </ion-card-header>
      <ion-card-content>
        <ion-button (click) ="loginPage()"><!-- calls method to bring user to login page html-->
          Login
        </ion-button>
      </ion-card-content>
    </ion-card>

  </div>

  </div>

</ion-content>
